* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #121212;
    color: #ffffff;
}

/* APP LAYOUT */
.app {
    display: flex;
    height: calc(100vh - 90px);
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #000000;
    padding: 20px;
}

.logo {
    color: #1db954;
    margin-bottom: 30px;
}

.menu li,
.playlists li {
    list-style: none;
    padding: 10px 0;
    color: #b3b3b3;
    cursor: pointer;
}

.menu li.active,
.menu li:hover,
.playlists li:hover {
    color: #ffffff;
}

.sidebar h3 {
    margin-top: 30px;
    font-size: 14px;
    color: #b3b3b3;
}

/* MAIN CONTENT */
.content {
    flex: 1;
    padding: 30px;
}

.content h2 {
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.card {
    background: #181818;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    background: #282828;
    transform: scale(1.05);
}

.album {
    background: linear-gradient(135deg, #1db954, #1ed760);
    height: 120px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: 10px;
}

/* PLAYER BAR */
.player {
    height: 90px;
    background: #181818;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

/* SONG INFO */
.song {
    display: flex;
    align-items: center;
    gap: 10px;
}

.song-img {
    width: 50px;
    height: 50px;
    background: #1db954;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.title {
    font-size: 14px;
}

.artist {
    font-size: 12px;
    color: #b3b3b3;
}

/* CONTROLS */
.controls {
    text-align: center;
}

.progress {
    width: 200px;
    height: 4px;
    background: #404040;
    margin-top: 5px;
    border-radius: 10px;
}

.progress-bar {
    width: 40%;
    height: 100%;
    background: #1db954;
}

/* VOLUME */
.volume {
    display: flex;
    align-items: center;
    gap: 10px;
}

.volume-bar {
    width: 80px;
    height: 4px;
    background: #404040;
    border-radius: 10px;
}
